body {
    background-image: url("../images/memphis-style-pattern-design_1156-891.jpg");
}

.container {
    margin-top:30px;
    max-width:800px;
    background-color:	#FFDAB9;
    height: 650px;
    text-align: center;
    

}

#timer {
    height: 10px;
}


h1{
    font-family: 'Cabin Sketch';
    font-size: 60px;
}

ul {
    list-style-type: none;
}

p {
    margin-top:25px;
}

#submit {
    margin-top:25px;
}

#questions {
    display: none;
}

#doneContainer {
    display:none;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }